@model IEnumerable<Turnierverwaltung.Models.Group>

@{
    ViewBag.Title = "Tabelle";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    @foreach (var group in Model)
    {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => group.Name)
        </th>
        <th>
            Spiele
        </th>
        <th>
            Siege
        </th>
        <th>
            Unentschieden
        </th>
        <th>
            Niederlage
        </th>
        <th>
            Tore
        </th>
        <th>
            Gegen Tore
        </th>
        <th>
            Tordifferenz
        </th>
        <th>
            Punkte
        </th>
        <th></th>
    </tr>

        foreach (var item in group.Clubs)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GamesCount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Wins)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Draws)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Loses)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Goals)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RecievedGoals)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GoalsDifference)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Points)
    </td>
    <td>
    </td>
</tr>
        }
    }

</table>
