@model Turnierverwaltung.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HomeResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Played)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Played)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Club.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Club.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Club1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Club1.Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GamePk }) |
    @Html.ActionLink("Back to List", "Index")
</p>
