@using Microsoft.Ajax.Utilities
@using Turnierverwaltung.Controllers
@model IEnumerable<Turnierverwaltung.Models.Game>

@{
    ViewBag.Title = "Spiele";
    var days=new List<DateTime>();
    foreach (var game in Model)
    {
        if (days.Contains(game.DateTime.Value))
        {
            continue;
        }
        days.Add(game.DateTime ?? new DateTime());
    }
}

<h2>@ViewBag.Title</h2>

<p>
    @if (HttpContext.Current.User != null && HttpContext.Current.User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Turnier initialisieren", "Create")

    }
</p>

@{
    var anyGames = Model.Any();
}

@if (anyGames)
{
    
<table class="table">
    <tr>
        <th>
            Heimmannschaft @*@Html.DisplayNameFor(model => model.Club.Name)*@
        </th>
        <th>
          Tore @* @Html.DisplayNameFor(model => model.HomeResult)*@
        </th>
        <th></th>
        <th>
           Tore @* @Html.DisplayNameFor(model => model.GuestResult)*@
        </th>
        <th>
            Auswärtsmannschaft @*@Html.DisplayNameFor(model => model.Club1.Name)*@
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>*@
        <th></th>
    </tr>
    @foreach (var day in days)
    {
        <th></th>
        <th>@string.Format("{0:d}",day)</th>
        
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        foreach (var item in Model.Where(g => g.DateTime==day))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Club.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeResult)
                </td>
                <td>:</td>
                <td>
                    @Html.DisplayFor(modelItem => item.GuestResult)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club1.Name)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.StrDateTime)
                    </td>*@
            <td>
                @if (User.IsInRole("Referee"))//User.Identity.Name == "test@test.test")
                {
                    @Html.ActionLink("Ändern", "Edit", new {id = item.GamePk})
                }
                | @Html.ActionLink("Details", "Details", new { id = item.GamePk })
            </td>
            </tr>

        }
    }

</table>
}
