@using Turnierverwaltung.Controllers
@model IEnumerable<Turnierverwaltung.Game>

@{
    ViewBag.Title = "Spiele";
    var days=new List<DateTime>(){new DateTime(2020,1,3),new DateTime(2020,1,5),new DateTime(2020,1,5),};
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Turnier initialisieren", "Create")
</p>

@{
    var anyGames = true;
}

@if (anyGames)
{
    
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Club.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeResult)
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.GuestResult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Club1.Name)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>*@
        <th></th>
    </tr>
    @foreach (var day in days)
    {
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>@day.Date</th>
        foreach (var item in Model.Where(g => true))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Club.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeResult)
                </td>
                <td>:</td>
                <td>
                    @Html.DisplayFor(modelItem => item.GuestResult)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club1.Name)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.StrDateTime)
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.GamePk }) |
                    @Html.ActionLink("Details", "Details", new { id = item.GamePk })
                </td>
            </tr>

        }
    }

</table>
}
